@{
    ViewBag.Title = "Student ID Control Panel";
}

<div class="container body-content">

    <div class="row">
        <h1>Testing Hello Im there</h1>

        <h2>@ViewBag.StudentID</h2>
    </div>

</div>
