<div class="jumbotron">
    <h1>MyTeam</h1>
    <p class="lead">Accurate, innovate, productive, constructive.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="detail-title">Contribution management software to improve your teamwork.</h2>
        <div class="detail-title-bar"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 text-center">
        <h2>Task Management</h2>
        <p>Easily log and manage task lists.</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>View automated reports of the team’s current contribution.</p>
    </div>
    <div class="col-md-4">
        <h2>Team</h2>
        <p>Closely monitor how well your team works together.</p>
    </div>
</div>