@ViewBag.Title @{
    ViewBag.Title = "Home";
}

    <div class="header">
        <div class="container">
            <div class="row">
                <h1>MyTeam</h1>
                <h2 class="lead">Accurate, innovate, productive, constructive.</h2>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="@Url.Action("Login", "Account")">
                        <span style="font-size:100px; padding-right:10px;" class="glyphicon glyphicon-log-in sign-in-icon" aria-hidden="true"></span>
                        <span class="sign-in-text">Sign In</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-md-12 text-center">
            <h2 class="home-details">Team member contribution management.</h2>
        </div>

        <div class="row col-md-12 text-center">
            <h2 class="home-details">Innovative and smart software to improve your teamwork.</h2>
        </div>

        <div class="row text-center points">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-list-alt coloured" aria-hidden="true"></span>
                <h2>Task Management</h2>
                <p>Easily log and manage task lists.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-folder-open coloured" aria-hidden="true"></span>
                <h2>Reports</h2>
                <p>View automated reports of the team’s current contribution.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-user coloured" aria-hidden="true"></span>
                <h2>Team</h2>
                <p>Closely monitor how well your team works together.</p>
            </div>
        </div>
        <div class="row text-center points">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-stats coloured" aria-hidden="true"></span>
                <h2>Tutor</h2>
                <p>Allow your tutor full visibility of your contribution to your team.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-tasks coloured" aria-hidden="true"></span>
                <h2>Project Management</h2>
                <p>Add and manage all of your team's projects all in one place.</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-thumbs-up coloured" aria-hidden="true"></span>
                <h2>Evaluate</h2>
                <p>Anonymously peer assess team members completed tasks.</p>
            </div>
        </div>
    </div>
