@ViewBag.Title @{
    ViewBag.Title = "About";
}

<div class="header">
    <div class="container">
        <div class="row">
            <h1>MyTeam</h1>
            <h2 class="lead">What it's all about...</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h4>MyTeam is an application with the purpose to make student teamwork more productive and fair.</h4>
        <h4>This is achieved by recording your feedback of the contribution of your peer’s.</h4>
        <h4>With MyTeam, tutors will have the full visibility they need to understand how your team projects are progressing.</h4>
    </div>
</div>
