@ViewBag.Title @{
    ViewBag.Title = "About";
}

<div class="header">
    <div class="container">
        <div class="row">
            <h1>MyTeam</h1>
            <h2 class="lead">What it's all about...</h2>
        </div>
    </div>
</div>

<div class="container">

</div>
