@ViewBag.Title @{
    ViewBag.Title = "About";
}

<div class="header">
    <div class="container">
        <div class="row">
            <h1>MyTeam</h1>
            <h2 class="lead">What it's all about...</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h2 class="a-title text-center text-capitalize">The Aim?</h2>
        <h4>MyTeam is an application with the purpose to increase the fairness and visibility of student teamwork.</h4>
    </div>

    <div class="row text-center">
        <h2 class="a-title">The Why?</h2>
        <h4>Research suggests that student teams often encounter issues with an imbalance of contribution from members. Tutors often struggle to assess student teamwork skills due the lack of insight to the inner workings of the team. This application aims to open up that visibility.</h4>
    </div>

    <div class="a-last row">
        <h2 class="a-title text-center">The How?</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
            </div>
            <div class="panel-body">
                <h4>Getting Setup</h4>
                <p>To begin using MyTeam, students will first need to create an account by using the Register link in the navigation bar.</p>
                <p>Once you've registered your account, you then need to ask your tutor to add you to your university work team.</p>
                <p>Once this is done you're all ready to go!</p>
                <br />
                <h4>Getting Working</h4>
                <p>
                    Start by selecting the Teams link at the left of the navigation bar. You can then select which team you want to see projects for.
                    The next page lists all of the open projects for that team. You can create projects, edit them or delete them.
                    Each project has a button called Tasks, this allows you to view all of the work tasks assigned to that project.
                    You can also add tasks by using the Add Task link from this view. You can assign tasks to any member of your team.
                </p>
                <p>
                    Tip! You should keep the details of both projects and tasks regularly updated because tutors will monitor the progress of your project by your updates.
                </p>
                <p>
                    Once your team starts to complete work tasks you should start adding Evaluations of the tasks. This is a way for you to peer assess your team mates' work
                    and provide feedback. In case you were wondering... Yes it's completely anonymous. Your peers and tutor will not see who the evaluation came from. So be honest!
                </p>
                <p>
                    The more team members that evaluate a task the more accurate the evaluation will become. You will be able to view all of the evaluations of all tasks, including some
                    useful statistics such as its highest mark, lowest mark and average mark. Yes, the tutor can see this information too!
                </p>
                <br />
                <h4>Things to remember</h4>
                <ul>
                    <li>Everything you add here can be viewed by a tutor.</li>
                    <li>A task has to be marked as "Finished" for it's evaluations to be considered in the statistics.</li>
                    <li>Try to keep all of the information on MyTeam as up to date as possible, here is where you show your tutor how much work you contribute to your team’s success!</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tutors</h3>
            </div>
            <div class="panel-body">
                <h4>Getting Setup</h4>
                <p>To begin using MyTeam, tutors will first need to create an account by using the Register link in the navigation bar.</p>
                <p>Once you've registered your account, you then need to ask the MyTeam administrator to make you a tutor user.</p>
                <p>Once this is done you're all ready to go!</p>
                <br />
                <h4>Getting Working</h4>
                <p>
                    As a tutor user, you now have access to the Tutor Dashboard from the link in the navigation bar. This allows you to view all of the student teams, create new teams and assign members.
                </p>
                <p>
                    By selecting a team name on the Tutor Dashboard you will be able to view all of the projects, tasks and evaluations. This gives you full visibility of the day-to-day tasks that are being
                    undertaken by students and what the other team members thought to them.
                </p>
                <p>
                    The Tutor Dashboard also allows you to view the members of a particular team. By viewing members you can then select one of the team's projects, which will generate some useful statistics 
                    about that particular student’s contribution to that project. The statistics show the highest evaluation mark a student received, the lowest, and the average of all of the marks received. A task 
                    evaluation will only contribute to these statistics if it has been marked as “Finished” by the student.
                </p>
                <br />
                <h4>Things to remember</h4>
                <ul>
                    <li>A student can evaluate themselves.</li>
                    <li>A student can evaluate the same task more than once, so keep an eye on the number of evaluations!</li>
                    <li>This system is reliant on students keeping the information updated, so encourage its use.</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
