@{
    ViewBag.Title = "Admin Control Panel";
}

<div class="container body-content">

    <h2>Admin Control Panel</h2>
    <ul>
        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
        <li>@Html.ActionLink("Roles", "Roles", "Admin")</li>
        <li>@Html.ActionLink("Add Role", "AddRole", "Admin")</li>
    </ul>
</div>