﻿@{
    ViewBag.Title = "Admin Control Panel";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Admin Control Panel</h4>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <p>@Html.ActionLink("Users", "Users", "Admin")</p>
                    <p>@Html.ActionLink("View Roles for User", "RolesForUser", "Admin")</p>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Roles</h3>
                </div>
                <div class="panel-body">
                    <p>@Html.ActionLink("Manage Roles", "Index", "RoleAdmin")</p>
                </div>
            </div>
        </div>
    </div>

</div>
