@{
    ViewBag.Title = "Roles For User Confirmed";
}

<div class="container body-content">
    <div class="row">
        <h1>Roles For User Confirmed</h1>
    </div>

    <div class="row">
        <h4>Hi @User.Identity.Name</h4>
    </div>
    
    @if (ViewBag.RolesForThisUser != null)
    {
        <div>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </div>
    }
    <div>
        @Html.ActionLink("Back to Admin Control Panel", "Index")
    </div>

</div>
