@{
    ViewBag.Title = "Users";
}

<div class="container body-content">

    <h2>Users</h2>
    @foreach (var user in Model)
    {
        <p>
            @user.UserName |
            @Html.ActionLink("Edit", "editUser", new { Id = user.Id }) |
            @Html.ActionLink("Delete", "deleteUser", new { Id = user.Id })
        </p>
    }
    @Html.ActionLink("Add User", "Register", new { controller = "Account" })

</div>
