@{
    ViewBag.Title = "Tutor Dashboard";
}

<div class="container body-content">

    <div class="row">
        <h1>Tutor Dashboard</h1>
    </div>

    <div class="row">
        <h4>Hi Tutor</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Dashboard", "Dashboard", "Tutor")</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Students</h3>
        </div>
        <div class="panel-body">
            <p>@Html.ActionLink("List All Registered Students", "Students", "Tutor")</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Teams</h3>
        </div>
        <div class="panel-body">
            <p>@Html.ActionLink("List All Teams", "Teams", "Tutor")</p>
        </div>
    </div>

</div>
