/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 800px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ====================================================================================*/
/* ====================================================================================*/
/* Author Custom Styles*/
/* ====================================================================================*/
/* ====================================================================================*/

/* Site Wide Items ====================================================================*/
body {
    color: #3d3d3e;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, sans-serif, Arial;
}
.navbar {
    margin-bottom: 0px;
}
a {
    color: #50bfde;
}
.table td, .table th {
   text-align: center;   
}

/* New Items ===================================*/
.new-item {
    font-size: 23px;
}
.new-item span {
    padding-left: 10px;
}

/* Index Page =========================================================================*/
/* Header ======================================*/
.header {
    height: 1000px;
    color: #3d3d3e;
    background: #97dbed;
}
.header h1 {
    font-size: 75px;
    margin-top: 200px;
}
.header h2 {
    font-size: 40px;
    margin-bottom: 100px;
}
.header a {
    color: #3d3d3e;
    font-size: 23px;
    position: relative;
}
.header .sign-in-text {
    position: absolute;
    top: -38px;
    width: 100px;
}
.header a:hover {
    opacity: 0.7;
}

/* Details =====================================*/
.home-details {
    margin-top: 150px;
}
.points {
    margin-top: 150px;
    margin-bottom: 150px;
}
span.coloured {
    color: #97dbed;
    font-size: 100px;
}

/* Footer ======================================*/
footer {
    height: 300px;
    background: #97dbed;
    margin-top: 30px;
}
.footer {
    margin-top: 140px;
    font-size: 23px;
}
.footer p {
    display: inline;
}

/* Projects Page=======================================================================*/
/* Project =====================================*/
.project {
    background: #97b0ed;
    border-radius: 5px;
    min-height: 320px;
    color: #3d3d3e;
    margin-bottom: 30px;
}
.project .pr-title {
    padding-top: 15px;
}
.project .pr-title {
    margin-top: 25px;
}
.project .pr-actions a {
    font-size: 20px;
    display: block;
    color: #3d3d3e;
    margin-top: 70px;
    margin-left: 20px;
    text-decoration: none;
}
.project .pr-actions a:hover {
    color: #000;
}
.project .btn-tasks {
    width: 300px;
    height: 50px;
    line-height: 38px;
    border: none;
}

/* Tasks Page =========================================================================*/
/* Task ========================================*/
.task {
    background: #b0ed97;
    border-radius: 5px;
    min-height: 335px;
    color: #3d3d3e;
}
.task .ta-title {
    padding-top: 15px;
}
.task .ta-title {
    margin-top: 25px;
}
.task .ta-actions a:hover {
    color: #000;
}
.task .btn-evals {
    width: 100px;
    height: 50px;
    line-height: 38px;
    border: none;
}

/* Teams Page=======================================================================*/
.team {
    margin-bottom: 30px;
}