<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jdmyteam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jdmyteam.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JDMyTeam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JDMyTeam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyTeamDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a00dorh24x.database.windows.net,1433;Initial Catalog=JDMyTeam_db;User ID=JamesDB@a00dorh24x;Password=!2Chicken1!MT" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyTeam.Data.MyTeamDataEntities, MyTeam.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:a00dorh24x.database.windows.net,1433;Initial Catalog=JDMyTeam_db;User ID=JamesDB@a00dorh24x;Password=!2Chicken1!MT" Name="Data Source=tcp:a00dorh24x.database.windows.net,1433;Initial Catalog=JDMyTeam_db;User Id=JamesDB@a00dorh24x;Password=!2Chicken1!MT" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyTeam.Models.ApplicationDbContext, MyTeam" MigrationConfiguration="MyTeam.Migrations.Configuration, MyTeam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a00dorh24x.database.windows.net,1433;Initial Catalog=JDMyTeam_db;User Id=JamesDB@a00dorh24x;Password=!2Chicken1!MT</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyTeamDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MyTeamData.csdl|res://*/MyTeamData.ssdl|res://*/MyTeamData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:a00dorh24x.database.windows.net,1433;Initial Catalog=JDMyTeam_db;User ID=JamesDB@a00dorh24x;Password=!2Chicken1!MT"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>